<h1>Check out all the restaurants!</h1>

<div>
  <ul>
    <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to "Add a Restaurant", new_restaurant_path%>
</div>
